Flask==3.1.0
gunicorn==23.0.0
beautifulsoup4==4.13.3
bleach==6.2.0
google-api-python-client==2.171.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
cryptography==45.0.4
requests==2.32.3
edge-tts==7.2.8
python-dotenv==1.1.0
tree-sitter==0.23.2
tree-sitter-java==0.23.5
tree-sitter-python==0.23.6
tree-sitter-javascript==0.23.1
tree-sitter-typescript==0.23.2
openpyxl==3.1.5
spacy==3.7.5
pytextrank==3.3.0
argostranslate==1.9.6
